<nav class="nav-wrapper">
  <a routerLink="/">

    <img src="assets/cineplex_logo.png" height="100" width="130" />

  </a>
  <form>
    <input [(ngModel)]="this.search" type="search" placeholder="Search Movie" name="search" class="input-movie" />
    <button (click)="route()">
      <mat-icon class="searchIcon">search</mat-icon>
    </button>
  </form>
  <mat-icon><a routerLink="/">home</a></mat-icon>
  <mat-icon><a routerLink="/favoriteMovie">bookmark</a></mat-icon>
  <div>
    <a routerLink="/login"> Sign in </a>
  </div>
</nav>
