.nav-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 10px;


    position: sticky;
    padding: 10px;
    background-color: var(--background-color);
}

.nav-wrapper>a {
    display: contents;
}

.input-movie {
  padding: 8px 12px;
}

form {
  position: relative;
  width: 30rem;
  border-radius: 20px;
}
input, button {
  height: 30px;
  border: 0;
  color: #000;
  font-size: 15px;
}
input[type="search"] {
  width: 100%;
  background: var(--white-color);
  padding: 0 1.6rem;
  border-radius: 7px;
  appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
  transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
button {
  display: none; // prevent being able to tab to it
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: var(--gray-color);
  border-radius: 0 .7rem .7rem 0;
}
input:not(:placeholder-shown) {
  border-radius: .7rem 0 0 .7rem;
  width: calc(100% - 6rem);
  + button {
    display: block;
  }
}
label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
a {
  color: var(--white-color);
}
a:hover {
  color: var(--blue-color);
}
