<div class="detail-wrapper">


    <h1> {{movie.titleText}} </h1>

    <h1> Avengers: Infinity War </h1>

    <div class="head-wrap">

        <h3> April 27th 2018 </h3>
        <h3> PG-13 - </h3>
        <h3> Movie </h3>


        <div class="material-symbols-outlined" id="favoriteIcon">
            favorite
        </div>

        <h3> Favorites by me? Number of favorites </h3>

    </div>

    <img src="../../../assets/detail-test.webp" alt="image here" />

    <div class="detail-footer">

        <p class="description"> 
            The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos
            before his blitz of devastation and ruin puts an end to the universe. 
        </p>
        <p class="directors"> Directors:
            Anthony Russo Joe Russo
        </p>

        <p class="writers">
            Writers:
            Christopher Markus Stephen McFeely Stan Lee
        </p>
        <p class="stars">
            Stars:
            Robert Downey Jr. Chris Hemsworth Mark Ruffalo
        </p>

    </div>

</div>