<div class="detail-wrapper" >


    <h1> {{this.movie.titleText.text}} </h1>

    <div class="head-wrap">

        <h3> {{this.movie.releaseYear.year}} </h3>
        <h3> {{this.movie.titleType.text}} </h3>


        <div class="favorite-wrap">
            <div class="material-symbols-outlined" id="favoriteIcon">
                favorite
            </div>
            1
            <!-- like counter -->
        </div>
    </div>


    <div class="movie-grid">

        <div class="row">

            <div class="main-img">
                <img src="../../../assets/detail-test.webp" />
            </div>

            <div class="column">

                <div class="sid-img">
                    <img src="../../../assets/detail-test.webp" />
                    <img src="../../../assets/detail-test.webp" />
                    <img src="../../../assets/detail-test.webp" />
                </div>

            </div>

        </div>

    </div>


    <div class="detail-footer">

        <div class="detail-header">
            <h3> More Like This </h3>
        </div>

        <app-movies> </app-movies>

    </div>
</div>