.detail-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 15px 50px 15px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    font-size: 50px;
}

.favorite-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.description-wrap {
    font-size: 30px;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 50px 0px 50px 180px;
    gap: 30px;
}

.description-txt{
    text-align: center;

    margin: 15px;
}


.detail-footer {
    margin: 30px 0px 0px 0px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.movie-grid {
    height: 100%;
    width: 100%;
    border: 5px solid #fff;

    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.main-img {
    height: 800px;
    width: 550px;
}

.side-img{
    height: 322px;
    width: 700px;
}

img{
    height: 800px;
    width: 500px;
}


// favorite

.favorite-wrap {}

.material-symbols-outlined {

    cursor: pointer;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

// detail footer

.detail-header {
    display: flex;
    justify-content: center;
}

// load wrap