
mat-card {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: aqua;
    width: 200px;
    height: 260px;
}

p{
white-space: normal;
}

img {
    width: 30px;
    height: 30px;
}
