<mat-card [routerLink]="['movieDetails', this.movie.id]">


    <mat-card-header>
        <mat-card-title>{{this.movie.titleText.text}}</mat-card-title>
    </mat-card-header>

    <div class="imageContainer">
        <img mat-card-image *ngIf="this.movie.primaryImage; else noImagePlaceholder" [src]="this.movie.primaryImage.url" [alt]="this.movie.primaryImage.caption.plainText">
    </div>


    <mat-card-footer>
        <div class="material-symbols-outlined" id="favoriteIcon">
            favorite
        </div>
    </mat-card-footer>
</mat-card>


<ng-template #noImagePlaceholder>
    Content to render when condition is false.
</ng-template>