mat-card {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: var(--blue-color);
    width: 275px;
    height: 360px;
}

p {
    white-space: normal;
    text-shadow: 1.5px 1px black;
}


mat-card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 11rem;
    transition: flex-basis ease-in-out 1s;

    color: var(--white-color);
    text-align: center;
    padding: 14px;
    text-decoration: none;


}

mat-card:hover {
    background-color: #777;
    cursor: pointer;
    flex-basis: 15rem;
}

.material-symbols-outlined {

    position: absolute;
    bottom: 25px;
    right: calc(50% - .5em);
    cursor: pointer;

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


.material-symbols-outlined:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-filled {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}