.home-wrapper {
    text-align: center;
}

.input-movie {
    width: 250px;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.browse-head {
    margin: 50px 0px 50px 0px;
}

.movie-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80rem;
}

mat-card {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: magenta;
    width: 200px;
    height: 260px;
}

p {
    white-space: normal;
}

img {
    width: 30px;
    height: 30px;
}

.scrollIcon:hover {
    cursor: pointer;
}

// scroll //

.scrollmenu {
    overflow-x: scroll;

    scroll-snap-align: center;
    scroll-snap-type: mandatory;
    scrollbar-width: none;


    display: flex;
    flex-wrap: nowrap;
    row-gap: 1em;

    mat-card {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 11rem;
        transition: flex-basis ease-in-out;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        transition: .5s;

        text-shadow: .5px 1.5px #000;
    }

    mat-card:hover {
        background-color: #777;
        flex-basis: 15rem;
        display: block;
        cursor: pointer;
        transition: .5s;

    }

}
::-webkit-scrollbar {
    display: none;
}
