.home-wrapper {
    text-align: center;
}

.input-movie {
    width: 250px;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.browse-head {
    margin: 50px 0px 50px 0px;
}

.movie-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}

mat-card{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: aqua;
    width: 150px;
    height: 200px;
}

img{
    width: 30px;
    height: 30px;
}

// infinite scroll

.scrollmenu {
    background-color: #333;
    overflow-x: scroll;
    white-space: nowrap;
  }
  
div.scrollmenu mat-card {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
div.scrollmenu mat-card:hover {
    background-color: #777;
}


//