<div class="home-wrapper">
    <input placeholder="Search Movie" class="input-movie" />

    <section>
        <h3 class="browse-head"> Upcoming </h3>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="thumbContainer">
                <div class="projectInfo">
                    <mat-card> Movie Displayed </mat-card>
                </div>
              </div>
            </div>
        </div>
    </section>

    <section>
        <h3 class="browse-head"> Genres </h3>
        <div> 
            <!-- display movies  -->
        </div>

    </section>

    <section>
        <h3 class="browse-head"> Popular </h3>
        <div> 
            <!-- display movies  -->
        </div>

    </section>
</div>