.nathansTestObservable {
    background: crimson;
    padding: 3em;
  }


.home-wrapper {
    text-align: center;
}

.input-movie {
    width: 250px;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.browse-head {
    margin: 50px 0px 50px 0px;
}

.movie-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80rem;
}

mat-card {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: aqua;
    width: 200px;
    height: 260px;
}

p{
white-space: normal;
}

img {
    width: 30px;
    height: 30px;
}

.scrollIcon:hover {
    cursor: pointer;
}

// scroll //

.scrollmenu {
    background-color: #333;
    overflow-x: scroll;
    // white-space: nowrap;
    
    scroll-snap-align: center;
    scroll-snap-type: mandatory;

    display: flex;
    flex-wrap: nowrap;
    row-gap: 1em;

    mat-card {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 11rem;
        transition: flex-basis ease-in-out 1s;

        // display: block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;


    }
    mat-card:hover {
        background-color: #777;

        flex-basis: 15rem;
    }
}

::-webkit-scrollbar {
    display: none;
}




.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


//