<div class="home-wrapper">
    <input placeholder="Search Movie" class="input-movie" />

    <section>
        <h3 class="browse-head"> Upcoming </h3>

        <div class="movie-section"> 
            
            <img src="../../../assets/arrow-badge-left.png"
            onmouseover="this.src='../../../assets/arrow-badge-left-filled.png';"
            onmouseout="this.src='../../../assets/arrow-badge-left.png';"
            />

            <div class="scrollmenu">
                

                <mat-card> Movie </mat-card>
                <mat-card> Movie2 </mat-card>
                <mat-card> Movie3 </mat-card>
                <mat-card> Movie4 </mat-card>

            </div>

            <img src="../../../assets/arrow-badge-right.png"
            onmouseover="this.src='../../../assets/arrow-badge-right-filled.png';"
            onmouseout="this.src='../../../assets/arrow-badge-right.png';"
            />
            
        </div>

    </section>

    <section>
        <h3 class="browse-head"> Genres </h3>
        <div>
            <!-- display movies  -->
        </div>

    </section>

    <section>
        <h3 class="browse-head"> Popular </h3>
        <div>
            <!-- display movies  -->
        </div>

    </section>
</div>