.home-wrapper{
    text-align: center;
}
.input-movie{
    width: 250px;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.browse-head{
margin: 50px 0px 50px 0px;
}

mat-card{


    width: 100px;
    height: 100px;
    background-color: aqua;
}