<div class="home-wrapper">

    <div class="nathansTestObservable">
        <h2>Nathan's Test Observable</h2>
        <p>{{nathansTestObservable$ | async | json}}</p>
    </div>


    <div *ngFor="let section of browseMovies">

        <mat-card>
            <mat-card-header>
                <mat-card-title>{{section.title}}</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <app-movies [movies$]="section.movies"></app-movies>
            </mat-card-content>
        </mat-card>

    </div>



    <section>
        <h3 class="browse-head"> Upcoming </h3>

        <div class="movie-section">

            <div class="scrollIcon" (click)="leftUpcoming()">
                <img src="../../../assets/arrow-badge-left.png"
                    onmouseover="this.src='../../../assets/arrow-badge-left-filled.png';"
                    onmouseout="this.src='../../../assets/arrow-badge-left.png';" />
            </div>

            <div class="scrollmenu" id="scroll-upcoming">


                <mat-card> Beau is Afraid </mat-card>
                <mat-card> Declaration of Indepence </mat-card>
                <mat-card> Movie  </mat-card>
                <mat-card> Movie  </mat-card>
                <mat-card> Movie  </mat-card>
                <mat-card> Movie </mat-card>
                <mat-card> Movie  </mat-card>
                <mat-card> Movie </mat-card>
                <mat-card> Movie </mat-card>


            </div>

            <div class="scrollIcon" (click)="rightUpcoming()">
                <img src="../../../assets/arrow-badge-right.png"
                    onmouseover="this.src='../../../assets/arrow-badge-right-filled.png';"
                    onmouseout="this.src='../../../assets/arrow-badge-right.png';" />
            </div>
        </div>

    </section>

    <section>
        <h3 class="browse-head"> Genres </h3>
        <div class="movie-section">

                <div class="scrollIcon" (click)="leftGenres()">
                    <img src="../../../assets/arrow-badge-left.png"
                        onmouseover="this.src='../../../assets/arrow-badge-left-filled.png';"
                        onmouseout="this.src='../../../assets/arrow-badge-left.png';" />
                </div>

                <div class="scrollmenu" id="scroll-genres">


                    <mat-card> Movie </mat-card>
                    <mat-card> Movie2 </mat-card>
                    <mat-card> Movie3 </mat-card>
                    <mat-card> Movie4 </mat-card>
                    <mat-card> Movie5 </mat-card>
                    <mat-card> Movie6 </mat-card>
                    <mat-card> Movie7 </mat-card>
                    <mat-card> Movie8 </mat-card>
                    <mat-card> Movie9 </mat-card>


                </div>

                <div class="scrollIcon" (click)="rightGenres()">
                    <img src="../../../assets/arrow-badge-right.png"
                        onmouseover="this.src='../../../assets/arrow-badge-right-filled.png';"
                        onmouseout="this.src='../../../assets/arrow-badge-right.png';" />
                </div>
            </div>

    </section>

    <section>
        <h3 class="browse-head"> Popular </h3>
        <div class="movie-section">

            <div class="scrollIcon" (click)="leftPopular()">
                <img src="../../../assets/arrow-badge-left.png"
                    onmouseover="this.src='../../../assets/arrow-badge-left-filled.png';"
                    onmouseout="this.src='../../../assets/arrow-badge-left.png';" />
            </div>

            <div class="scrollmenu" id="scroll-popular">


                <mat-card> Movie <ul> description </ul> </mat-card>
                <mat-card> Movie <ul> description </ul> </mat-card>
                <mat-card> Movie <ul> description </ul> </mat-card>
                <mat-card> Movie <ul> description </ul> </mat-card>
                <mat-card> Movie <ul> description </ul> </mat-card>
                <mat-card> Movie <ul> description </ul> </mat-card>
                <mat-card> Movie <ul> description </ul> </mat-card>
                <mat-card> Movie <ul> description </ul> </mat-card>
                <mat-card> Movie <ul> description </ul> </mat-card>


            </div>

            <div class="scrollIcon" (click)="rightPopular()">
                <img src="../../../assets/arrow-badge-right.png"
                    onmouseover="this.src='../../../assets/arrow-badge-right-filled.png';"
                    onmouseout="this.src='../../../assets/arrow-badge-right.png';" />
            </div>
        </div>

    </section>
</div>
