.home-wrapper {
    text-align: center;
}

.input-movie {
    width: 250px;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.browse-head {
    margin: 50px 0px 50px 0px;
}

.movie-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80rem;
}

mat-card {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: aqua;
    width: 200px;
    height: 260px;
}

p{
white-space: normal;
}

img {
    width: 30px;
    height: 30px;
}

.scrollIcon:hover {
    cursor: pointer;
}

// scroll //

.scrollmenu {
    background-color: #333;
    overflow-x: scroll;
    white-space: nowrap;
    
    scroll-snap-align: center;
    scroll-snap-type: mandatory;
}

::-webkit-scrollbar {
    display: none;
}

div.scrollmenu mat-card {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu mat-card:hover {
    background-color: #777;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


//