.browse-head {
    margin: 50px 0px 50px 0px;
}

.movie-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80rem;
}

.scrollIcon:hover {
    cursor: pointer;
}

.scrollIcon img {
    width: 30px;
    height: 30px;
}



.scrollmenu {


    background-color: #333;
    overflow-x: scroll;
    // white-space: nowrap;

    scroll-snap-align: center;
    scroll-snap-type: mandatory;
    scrollbar-width: none;

    display: flex;
    flex-wrap: nowrap;
    row-gap: 1em;


}


::-webkit-scrollbar {
  display: none;
}
