<div class="favorite-wrapper">

   <div class="favorite-list"> 

      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>
      <div class="favorite-movie"> </div>



   </div>

   
</div>

   <div class="favorite-footer">

      <div class="detail-header">
          <h3> Recommended for You </h3>
      </div>

      <app-movies> </app-movies>

  </div>

