@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
:root {
  --background-color: #800000;
  --white-color: #F6F7EB;
  --gray-color: #dadfea;
  --blue-color: #3F88C5;
  --green-color: #44BBA4;
  --orange-color: #FA7921;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  // background-image: url("./assets/background.jpg");
  background-color: maroon;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
